nav {
  background-color: skyblue;
}

#click {
  background-color: lightblue;
}

#text {
  background-color: lightblue;
}

#button {
  background-color: lightblue;
}

footer {
  background-color: skyblue;
}